| <div class="user-header text-center" style="background:
= @user.header_background_color
| ;">

h1.title-medium
  = @user.name

.user-image-div
  = image_tag @user.avatar_url, class: 'user-image', alt: '[Фото]'

h2.title-small.buffer-both
  = "@#{@user.login}"

/ .user-details
.user-ask-button.container.text-center
  = link_to t('show.ask_me'), '', class: 'button button-light', id: 'ask-button'

= render partial: 'users/statistic_bar', locals: { posts_count: @posts_count }

#ask-form.user-question-form-div
  .user-question-form.buffer-both
    = form_for @post do |f|
      = f.hidden_field :user_id

      .form-field
        = f.label "#{t('show.question_for')} @#{@user.login}", class: 'form-label'
        = f.text_area :text, class: 'form-textarea'

      .form-action
        = submit_tag t('show.ask'), class: 'button button-small button-dark'

.column-3-4
  .user-questions.buffer-both
    .questions-list
      = render partial: 'posts/post', collection: @posts
